<div class="project">
    <h2><a href="{{ repo.html_url }}">{{ include.repo.name }}</a></h2>
 
    <div class="post-date">
        <span class="ellipsis mr1" aria-expanded="false">
            Last updated:
            <span class="update">
                {{include.repo.updated_at | date_to_string}}
            </span>
            Topics:
            {% for topic in include.repo.topics %}
                <span>{{ topic }}</span>
            {% endfor %}
        </span>
    </div>

    <p>{{include.repo.description}}</p>
</div>
