<div class="project">
    <h2><a href="{{ repo.html_url }}">{{ include.repo.name }}</a></h2>
 
    <div class="post-date">
        <span class="ellipsis mr1" aria-expanded="false">
            <b>Last updated:</b>
            <span class="update">
                {{include.repo.updated_at | date_to_string}}
            </span>
            <b> Topics: </b>
            <div class="topic-tag">
            {% for topic in include.repo.topics %}
                {{ topic }}
            {% endfor %}
            </div>
        </span>
    </div>

    <p>{{include.repo.description}}</p>
</div>
