pre > code {
    --font-size-small: 0.8rem;
    font-size: var(--font-size-small);
    background: #fff9c7;
}       
.highlighter-rouge .highlight {
    background: #fff9c7;
    line-height: 1.0rem;
}